.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c4042;

  .home-page-container {
    width: 350px;
    height: 220px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #66696b;

    input {
      width: 80%;
      height: 30px;
      background-color: #fff;
      color: #646060;
      font-weight: bold;
      border-radius: 10px;
      outline: none;
      padding: 2px 15px;
      border: none;

      &:focus-within {
        outline: none;
        //   border: 2px solid white;
        box-shadow: 0 0 0 2px black, 0 0 0 4px whitesmoke;
      }
    }

    .homepage-btn-container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      button {
        background-color: palegreen;
        width: max-content;
        height: 30px;
        padding: 5px 15px;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: all 0.4s ease-in-out;

        &:hover {
          box-shadow: 0 0 0 2px white, 0 0 0 5px black;
        }
        &:focus-visible {
          box-shadow: 0 0 0 2px white, 0 0 0 5px black;
        }
      }
    }
  }
}
